html body {
    background-color: gainsboro;
}

@font-face{
    font-family:fuente;
    src: url(Goldman-Bold.ttf);
}

@font-face{
    font-family:fuente2;
    src: url(Fine\ College.ttf);
}

@font-face{
    font-family:fuente3;
    src: url(ArchitectsDaughter-Regular.ttf);
}


h1 {
    text-align: center;
    text-shadow: 2px 3px #999;
    font-family: "fuente";
}

h2 {
    text-align: center;
    text-shadow: 2px 3px #999;
    font-family: "fuente";
    font-size: 16;
}

p {
    font-size: 15;
    font-family: "fuente3";
}

.centrado {
    margin: auto;
    width: 30%;
    border: 3px solid rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
}

button.boton {
    text-decoration: none;
    padding: 5px;
    font-weight: 575;
    font-size: 20px;
    color: #ffffff;
    background-color: #1fad4e;
    border-radius: 6px;
    border: 1px solid #0016b0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3caf59;
    color: black;
    text-align: center;
}

#p_footer {
    font-family: Arial, Helvetica, sans-serif;
}

#img01{
  max-width: 100%;
  height: auto;
}

#temporizador{
    
}
