body {
    background-color: #898d8c ;
}

h1 {
    text-align: center;
}

.centrado {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(59, 166, 180);
    padding: 15px;
    text-align: center;
}

button.boton {
    text-decoration: none;
    padding: 5px;
    font-weight: 575;
    font-size: 20px;
    color: #ffffff;
    background-color: #1fad4e;
    border-radius: 6px;
    border: 1px solid #0016b0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(59, 166, 180);
    color: black;
    text-align: center;
}


#img01{
  max-width: 100%;
  height: auto;
}

#temporizador{

    
}
